# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Katreiner Hanga\Documents\BME-VIK\spec\ReteLab1\Lab2\ReLab1_Lab1Start_v6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
